
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" type="text/css" href="StyleSheet.css" />


<h1>Welcome cub to the Fox club</h1>
<h2>Please login below</h2>

<form action="/Login" method="POST">
    <div>
        <label for="Name">Name</label>
        <input name="name" type="text" id="name" required>
    </div>
    <button type="submit">GO</button>
</form>